<nav class="navigation">
    <a class="<%= currentPage == 'boardgames' ? 'navigation_active' : '' %>" href="/boardgames">Board Games</a>
    <a class="<%= currentPage == 'publishers' ? 'navigation_active' : '' %>" href="/publishers">Publishers</a>
    <a class="<%= currentPage == 'categories' ? 'navigation_active' : '' %>" href="/categories">Categories</a>
    <span class="nav_user_type">Currently Using: <%= userType %><button onclick="swapUserType('<%= userType %>')">Swap</button></span>
</nav>